/* common style or utilities  */
body{
    font-family: 'Poppins', sans-serif;
    
}

/* __________nav start___________  */
.nav-var{
    width: 100%;
    background-color: rgba(238, 238, 238, 0.404);
    
}
.flex-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-text{
    font-size: 24px;
    color: #3A3A3A;
}
.right-nav ul{
    display: flex;
}
.right-nav ul li {
    list-style: none;
    margin-right: 24px;
}
.right-nav ul li a{
    color: #3A3A3A;
    text-decoration: none;
    list-style: none;
}
.fa-solid {
height: 21px;
width: 21px;
}
/* __________nav end___________  */

/* ________________main section start  */
/* --section-1 start--  */
.section-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.artical{
    width: 582px;
    height: 270px;
}
.artical-name{
    margin-bottom: 16px;
}
.artical-title{
    font-size: 52px;
    width: 582px;
    margin: 0;
    padding: 0;
    color: #3A3A3A;
}
.break-title{
    font-size: 52px;
    width: 582px;
    margin: 0;
    padding: 0;
    color: #3A3A3A;
}
.artical-info{
    font-weight: 600px;
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.press{
    background: #E02C6D;
    width: 196px;
    height: 44px;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 41px;
    color: white;
}
.image{
    width: 440px;
    height: 414px;
}
/* --section-1 end--  */
/* main section end___________________  */